<h1>All collabs</h1>

<% @skills.each do |skill| %>
<h1><%= link_to skill, "/skill/#{skill}" %></h1>
<% end %> 

<div class="flickr_pagination">
  <%= will_paginate @collabs, :container => false %>
</div>

<div class="container">
  <div class="row justify-content-center">
    <%= render 'collab' %>
  </div>
</div>

<div class="flickr_pagination mb-4">
  <%= will_paginate @collabs, :container => false %>
</div>

