<body>
    <header>
        <%= render 'carousel' %>
    </header>
    <main>     
        <div class="container">
            <H2> FEATURED PROJECT </H2>
            <H5>Here goes text describing what this section is all about. Here goes text describing what this section is all about.  Here goes text describing what this  section is all about. </H5>
            <div class="row justify-content-center mt-4">
                <%= render 'post' %>
            </div>
            <H2> NEW COLLABS </H2>
            <H5>Here goes text describing what this section is all about. Here goes text describing what this section is all about.  Here goes text describing what this  section is all about. </H5>
            <div class="row justify-content-center mt-4">
                <%= render 'collab' %>
            </div>
        </div>
    </main>
</body>