<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-interval="7000">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item" id="featuredProject">
            <div class="carousel-overlay"></div>
            <div class="carousel-caption text-center">
                <h1>FEATURED PROJECT</h1>
                <h3>This week's featured project info</h3>
                <%= link_to "CHECK-OUT!", signup_path, class:"btn btn-lg btn-header" %>
            </div>
        </div>
    </div>
</div>
