<h1>Project showcase</h1>

<% @tags.each do |tag| %>
<h1><%= link_to tag, "/tags/#{tag}" %></h1>
<% end %> 

<div class="flickr_pagination">
  <%= will_paginate @posts, :container => false %>
</div>

<div class="container">
  <div class="row justify-content-center">
    <%= render 'post' %>
  </div>
</div>


<div class="flickr_pagination mb-4">
  <%= will_paginate @posts, :container => false %>
</div>
