<body>
    <header>
        <%= render 'header' %>
    </header>
    <main>
      <div class="container">
        <h2>PROJECT SHOWCASE</h2>
        <H5>Here goes text describing what this section is all about. Here goes text describing what this section is all about.  Here goes text describing what this  section is all about. </H5>

        <h4>POPULAR TAGS:
        <% @tags.each do |tag| %>
        <%= link_to tag, "/tags/#{tag}" %>
        <% end %> 
        </h4>
        <div class="row justify-content-center">
          <%= render 'post' %>
        </div>
        <div class="flickr_pagination mb-4">
          <%= will_paginate @posts, :container => false %>
        </div>
      </div>
    </main>
</body>
